In [1]:
#Import libs
import pandas as pd
import nasdaqdatalink
import boto3

# #API Key config for NASDAQ
nasdaqdatalink.ApiConfig.api_key = "1KxnCquDE3Ji3GXyMwd-"

# #Download country code csv file for labeling
url='https://static.quandl.com/ECONOMIST_Descriptions/economist_country_codes.csv'
data2 = pd.read_csv(url, sep='|',
                    usecols=['COUNTRY','CODE'])
code=data2['CODE'].values.tolist()
country=data2['COUNTRY'].values.tolist()
tags = [i for i in code]

# Use API and given task to create table connection and extract data
data = pd.DataFrame()
print(tags,'\n')
for tag in tags:
    mydata = nasdaqdatalink.get(f"ECONOMIST/BIGMAC_{tag}", start_date="2021-07-31", end_date="2021-07-31")
    mydata['CODE']=tag
    if data.empty==True:
        data=mydata
    else:
        data=pd.concat([data,mydata],axis=0)
csv=data.merge(data2,on='CODE',how='left')

['VNM', 'ARG', 'AUS', 'BRA', 'GBR', 'CAN', 'CHL', 'CHN', 'COL', 'CRI', 'CZE', 'DNK', 'EGY', 'EUR', 'HKG', 'HUN', 'IND', 'IDN', 'ISR', 'JPN', 'LTU', 'MYS', 'MEX', 'NZL', 'NOR', 'PAK', 'PER', 'PHL', 'POL', 'RUS', 'SAU', 'SIN', 'ZAF', 'KOR', 'LKA', 'SWE', 'CHE', 'ROC', 'THA', 'TUR', 'UAE', 'UKR', 'USA', 'URY', 'VEN', 'AUT', 'BEL', 'EST', 'FIN', 'FRA', 'DEU', 'GRC', 'IRL', 'ITA', 'NLD', 'PRT', 'ESP', 'LVA']

In [2]:
#Data investigation
csv.head()

,local_price,dollar_ex,dollar_price,dollar_ppp,dollar_valuation,dollar_adj_valuation,euro_adj_valuation,sterling_adj_valuation,yen_adj_valuation,yuan_adj_valuation,CODE,COUNTRY
0,69000.00,23028.500000,2.996287,12212.389381,-46.968,-5.846,-13.770,-6.799,24.518,-5.491,VNM,Vietnam
1,380.00,96.333750,3.944620,67.256637,-30.184,16.341,6.551,15.164,53.862,16.781,ARG,Argentina
2,6.55,1.366587,4.792962,1.159292,-15.169,-8.072,-15.808,-9.002,21.575,-7.724,AUS,Australia
3,22.90,5.248650,4.363027,4.053097,-22.778,31.512,20.444,30.181,73.924,32.009,BRA,Brazil
4,3.49,0.734673,4.750413,0.617699,-15.922,1.022,-7.479,0.000,33.602,1.404,GBR,Britain

In [3]:
# Note that Venezuela values have NaNs so it is not efficient in our analysis - needed to be dropped
csv=csv.sort_values(by='dollar_price',ascending=False).dropna().reset_index()
csv.head()

,index,local_price,dollar_ex,dollar_price,dollar_ppp,dollar_valuation,dollar_adj_valuation,euro_adj_valuation,sterling_adj_valuation,yen_adj_valuation,yuan_adj_valuation,CODE,COUNTRY
0,35,6.50,0.92275,7.044161,1.150442,24.675,6.486,-2.475,5.409,40.828,6.888,CHE,Switzerland
1,23,57.00,9.04440,6.302242,10.088496,11.544,8.568,-0.568,7.470,43.581,8.978,NOR,Norway
2,34,54.00,8.71650,6.195147,9.557522,9.649,19.795,9.714,18.583,58.429,20.248,SWE,Sweden
3,40,5.65,1.00000,5.650000,1.000000,0.000,0.000,-8.415,-1.012,32.250,0.378,USA,United States
4,5,6.77,1.27410,5.313555,1.198230,-5.955,10.225,0.949,9.110,45.773,10.642,CAN,Canada

In [4]:
csv['CODE']=csv['CODE'].astype('string')
csv['COUNTRY']=csv['COUNTRY'].astype('string')
csv.info()
## All column converted to float64 or string -> data ready to export

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   42 non-null     int64
 1   local_price             42 non-null     float64
 2   dollar_ex               42 non-null     float64
 3   dollar_price            42 non-null     float64
 4   dollar_ppp              42 non-null     float64
 5   dollar_valuation        42 non-null     float64
 6   dollar_adj_valuation    42 non-null     float64
 7   euro_adj_valuation      42 non-null     float64
 8   sterling_adj_valuation  42 non-null     float64
 9   yen_adj_valuation       42 non-null     float64
 10  yuan_adj_valuation      42 non-null     float64
 11  CODE                    42 non-null     object
 12  COUNTRY                 42 non-null     object
dtypes: float64(10), int64(1), object(2)
memory usage: 4.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   42 non-null     int64
 1   local_price             42 non-null     float64
 2   dollar_ex               42 non-null     float64
 3   dollar_price            42 non-null     float64
 4   dollar_ppp              42 non-null     float64
 5   dollar_valuation        42 non-null     float64
 6   dollar_adj_valuation    42 non-null     float64
 7   euro_adj_valuation      42 non-null     float64
 8   sterling_adj_valuation  42 non-null     float64
 9   yen_adj_valuation       42 non-null     float64
 10  yuan_adj_valuation      42 non-null     float64
 11  CODE                    42 non-null     string
 12  COUNTRY                 42 non-null     string
dtypes: float64(10), int64(1), string(2)
memory usage: 4.4 KB

In [5]:
#Data is prepared for export -> csv
csv.head(5).to_csv('BigMac.csv',index=True)

In [6]:
# Pull data to Bucket on AWS S3

s3 = boto3.client('s3', region_name='eu-central-1', 
                         aws_access_key_id='AKIA32WYNUH6KR6KXL7P', 
                          aws_secret_access_key='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')

# # Check bucket list
bucket_resp=s3.list_buckets()
for bucket in bucket_resp['Buckets']:
        print(bucket)

# Upload file to bucket
s3.upload_file(Filename='BigMac.csv',Bucket='case-study-onwelo-bucket',Key='BigMac.csv')

{'Name': 'case-study-onwelo-bucket', 'CreationDate': datetime.datetime(2022, 5, 12, 19, 9, 42, tzinfo=tzutc())}